@import "tailwindcss";
/* @import '@fortawesome/fontawesome-free/css/brands.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/fontawesome.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colors;

/* @font-face {
    font-family: 'magic_retro';
    src: url(fonts/MAGIC_RETRO/magic_retro.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
} */

/* h1 {
    @apply text-5xl mx-auto my-2 md:text-8xl font-title text-center text-primary-purple;
}
h2 {
    @apply mx-auto md:text-2xl font-title text-center text-primary-pink;
}
body {
    @apply bg-white
}
.container {
    @apply w-full sm:w-11/12 py-4 px-2 md:px-4 my-4 mx-auto mt-0
}
button {
    @apply p-2 rounded border-2 hover:scale-110 m-2
}
.btn-primary {
    @apply bg-primary-purple text-white border-primary-purple
}
.btn-primary-outline {
    @apply bg-white text-primary-purple border-primary-purple
}
.btn-secondary {
    @apply bg-primary-pink text-white border-primary-pink
}
.btn-secondary-outline {
    @apply bg-white text-primary-pink border-primary-pink
}

.input {
    @apply rounded border-primary-purple w-full md:mx-2 mb-2
}
.search-input {
    @apply rounded border-primary-purple w-11/12 mx-2 md:w-1/2 md:ml-16 lg:w-1/3 lg:ml-24 mb-2
}

.area {
    @apply rounded border-primary-purple w-full md:mx-2 mb-2 h-48
}

.label {
    @apply w-full md:mx-2 mt-2
}

.success {
    @apply w-full bg-green-300 rounded border border-green-800 p-4 text-center text-xl text-green-800
}
.warning {
    @apply w-full bg-yellow-300 rounded border border-yellow-800 p-4 text-center text-xl text-yellow-800
}
.danger {
    @apply w-full bg-red-300 rounded border border-red-800 p-4 text-center text-xl text-red-800
}

#hamburger {
    @apply border-none
}

p {
    @apply text-xl
}

.thumbnail {
    @apply w-11/12 sm:w-2/5 md:w-3/12 lg:w-1/5 mx-2 border border-primary-pink shadow-xl p-4 my-4
}
.thumbnail-event {
    @apply w-11/12 sm:w-2/5 mx-4 border border-primary-pink shadow-xl p-4 my-4 hover:scale-110
} */
